.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.lock
.RDataTmp

#We can gitignore the entire NEON_Data folder so that people can keep the downloaded raw data locally
#but remove it from the global repo
NEON_data/**/*.tif

#Remove pngs from within the sandbox so that you can generate them there but they won't be pushed to the repo
sandbox/**/*.png
sandbox/*.png

#Keeping a QGIS file I use for visualization out of the repo
expl.qgz