.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.lock
.RDataTmp

#We can gitignore the entire NEON_Data folder so that people can keep the downloaded raw data locally
#but remove it from the global repo
#NEON_data/

#Keeping a QGIS file I use for visualization out of the repo
expl.qgz